<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PythonRestApi_ProtocollPrefix" value="http"/>
    <add key="PythonRestApi_Host" value="localhost"/>
    <add key="PythonRestApi_Port" value="9191"/>
    <add key="CommandPath" value="run" />
  </appSettings>
</configuration>