<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="PythonRestApi_ProtocollPrefix" value="http" />
		<add key="PythonRestApi_Host" value="localhost" />
		<add key="PythonRestApi_Port" value="8800" />
		<add key="CommandPath" value="run" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>