<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="MasterComponentLauncherPath" value="C:\WS\others\RemoteScrapingBranches\masterserver\Master\Deploy\MasterService.exe"/>
		<add key="ProcessorComponentLauncherPath" value="C:\WS\others\RemoteScrapingBranches\processing\Processor\Deploy\ProcessorDesktop.exe"/>
		<add key="BrowserComponentLauncherPath" value="C:\WS\others\RemoteScrapingBranches\pcclient\BrowserClient\Deploy\WPFBrowserClient.exe"/>
	</appSettings>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>